





/* --- GRID LAYOUT --- */

.grid {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(200px, 1fr) 1fr 1fr;
    grid-gap: 15px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}
